@model IEnumerable<Inventarsystem1.Models.Raum>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.RaumName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Stockwerk)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.User)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.RaumName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Stockwerk)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.User.UserId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.RaumId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.RaumId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.RaumId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
